In [13]:
import json
import pandas as pd
from processing import prep_ans
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
with open('/home/ndhuynh/data/simpsonsvqa/v1_Annotation_Test_Private_110496_simpsons_vqa.json', 'r') as file:
       targets  = json.load(file)["annotations"]

In [15]:
processed_targets = []
for ann in targets:
    ans_count = 0
    for judge in ann["judgements"].values():
        if judge["answer"] == 1:
            ans_count += 1
    if ans_count >= 2:
        ann["answer"] = prep_ans(ann["answer"])
        ann["original_answer"] = ann["answer"]
        processed_targets.append(ann)

In [16]:
target = pd.DataFrame(processed_targets)
target = target[["id", "answer"]]
target = target.rename(columns = {"id": "question_id", "answer": "target"})
target

       question_id target
0                1     no
1               27     no
2               29     no
3               74     no
4               76     no
...            ...    ...
10502       166187  green
10503       166251     no
10504       166316     no
10505       166320    yes
10506       166400   hair

[10507 rows x 2 columns]

In [17]:
prediction = pd.read_csv("predictions_vqa_simpsons.csv")

In [18]:
prediction

       question_id prediction
0           117817  christmas
1           153452       food
2           153763      child
3           130601          1
4            10620          2
...            ...        ...
28916       163459        car
28917        97819        dog
28918       146857   sidewalk
28919        27221        yes
28920       121039         no

[28921 rows x 2 columns]

In [19]:
df = pd.merge(target, prediction, on="question_id")

In [20]:
df

       question_id target prediction
0                1     no        yes
1               27     no         no
2               29     no         no
3               74     no         no
4               76     no         no
...            ...    ...        ...
10502       166187  green      green
10503       166251     no        yes
10504       166316     no        yes
10505       166320    yes         no
10506       166400   hair        hat

[10507 rows x 3 columns]

In [12]:
print(f"Accuracy: {round(accuracy_score(df['target'],df['prediction'])*100,4)} %")

Accuracy: 60.8261 %

In [11]:
# y_true = df['target']
# y_pred = df['prediction']
# conf_matrix = confusion_matrix(y_true, y_pred, labels=y_true.unique())
# conf_matrix_normalized = conf_matrix.astype('float') / conf_matrix.sum(axis=1)[:, np.newaxis]
# plt.figure(figsize=(14, 7))

# # Regular confusion matrix
# plt.subplot(1, 2, 1)
# sns.heatmap(conf_matrix, annot=True, fmt='d', 
#             xticklabels=y_true.unique(), yticklabels=y_true.unique(), 
#             cmap='Blues')
# plt.title('Confusion Matrix')
# plt.xlabel('Predicted Type')
# plt.ylabel('True Type')

# # Normalized confusion matrix
# plt.subplot(1, 2, 2)
# sns.heatmap(conf_matrix_normalized, annot=True, fmt='.2f', 
#             xticklabels=y_true.unique(), yticklabels=y_true.unique(), 
#             cmap='Blues')
# plt.title('Normalized Confusion Matrix')
# plt.xlabel('Predicted Type')
# plt.ylabel('True Type')
# plt.show()